@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background: #F2F2F2;
  box-shadow: rgba(0, 0, 0, 0.20);
}
.main-header {
  background: #FFF;
}
.navigation-link-like {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-image: url("../images/like.svg");
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #7DB54F;
  }
.navigation-link {
  text-decoration: none;
  color: inherit;
}
.navigation-link-button button {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  background:#756157;
}

.main-nav {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}
.fond {
  background: url("../images/mountains.png");
  background-size: cover contain;
  background-repeat: no-repeat;
  background-position: auto ;
}
.about {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.subject {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.advantages h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.advantages h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
}
.about {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.advantages p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.advantages-title-block {
  color: #ffffff;
}
.advantages-descripsion-block {
  color: #ffffff;
}
.advantages-item-block {
  background: #82B3D3;
  width: 400px;
  height: 385px;
}
.advantages-item-block2 {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}
.advantages-item-block3 {
  background-color: rgba(131, 179, 211, 0.20);
  width: 400px;
  height: 385px;
}
.search button {
  color: #ffffff;
  border-radius: 4px;
  background: #756157;
}
.page-main-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.advantages-descripsion {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.subscribe-title {
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe-title-light {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.subscribe-button {
  color:#FFF;
  border-radius: 0 4 4 0;
  background: #82B3D3;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.footer-social-item-vk {
  background: url("../images/vk.svg");
  color: rgba(131, 179, 211, 1);
  background-repeat: no-repeat;
}
.footer-social-item-telegram {
  background: url("../images/telegram.svg");
  color: rgba(131, 179, 211, 1);
  background-repeat: no-repeat;
}
.footer-social-item-youtub {
  background: url("../images/youtub.svg");
  color: rgba(131, 179, 211, 1);
  background-repeat: no-repeat;
}
.present {
  background: url("../images/logo.svg");
  color: #333;
  background-repeat: no-repeat;
}
/* 2стр */
.main-catalog {
  background:  url("../images/catalog/filter.png");
  background-repeat: no-repeat;
}
.inner-header-title {
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}
.breadcrumbs-link {
  background-image: url("../images/catalog/breadcrumbs.svg");
  background-repeat: no-repeat;
}
.bread-crumbs {
  background-image: url("../images/catalog/breadcrumbs.png");
  background-repeat: no-repeat;
}
.breadcrumb-link {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}
.search-filter-title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.earch-filter-item {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-transform: capitalize;
}
.field {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.button {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.button-price {
  border-radius: 4px 0px 0px 4px;
  background: #F2F2F2;
}
.button-dark {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #82B3D3;
}
.button-light {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background:  transparent;
}
.sorting {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.button-list-pictures {
  width: 16px;
  height: 14px;
}
.button-list-picture {
  width: 16px;
  height: 14px;
}
.button-list-list {
  width: 16px;
  height: 14px;
}
.inner-header {
  font-size: 30px;
  font-style: normal;
  font-weight: 700px;
  line-height: 36px;
  text-transform: uppercase;
}
.button-list-pictures, .button-list-picture {
  text-decoration: none;
  color: #000000;
}
.catalog-card-link {
  text-decoration: none;
}
.catalog-card-title {
  color:#000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}
.catalog-card-button-details {
  color:#FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #756157;
  padding: 8px 50px;
  text-decoration: none;
}
.catalog-card-button-favorites {
  color:#FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #82B3D3;
  padding: 8px 50px;
  text-decoration: none;
}
.catalog-card-button-favorite {
  color:#FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #7DB54F;
  padding: 8px 50px;
  text-decoration: none;
}
.catalog-card {
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}
.rating-result {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  background:#F2F2F2;

}
.pagination-current-one {
  color:#000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background:#F2F2F2;
}
.pagination-current {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #82B3D3;
  width: 60px;
  height: 60px;
}
.subscribe {
  background-image: url("../images/subscribe.png");
  background-size: cover contain;
  background-repeat: no-repeat;
}
.subscribe-title-dark {
  color:#000000;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.subscribe-title-link {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.field {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  border-radius: 4px 0px 0px 4px;
  background:  #F2F2F2;
}
.footer-contacts-address-phone {
  text-decoration: none;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  text-transform: uppercase;
  color: inherit;
}
