@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
* {
  box-sizing: border-box;
}
.overflow-button {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav {
  max-width: 200px;
  margin: -7px 0px -6px -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  margin: 0px auto;
  height: 100%;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}
.main-header {
  z-index: 2;
  min-height: 64px;
  margin: 0px;
  padding: 0px 70px;
  background: #FFF;
}
.main-nav {
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.logo {
  position: relative;
  z-index: 2;
  margin-right: 28px;
  margin-bottom: -11px;
}
.site-navigation {
  max-width: 360px;
  height: 100%;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.site-navigation-item {
  height: 64px;
}
.navigation-link {
  position: relative;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: inherit;
}
.navigation-link-search {
  width: 20px;
  height: 20px;
  background: url("../images/search.svg");
  background-repeat: no-repeat;
}
.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  content: "";
  min-width: 68px;
  max-width: 93px;
  height: 2px;
  background: #756257;
}
.item-navigation {
  margin-left: 1px;
}
.navigation-list {
  max-width: 88px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.navigation-search {
  display: flex;
  padding: 22px 12px;
  justify-content: center;
  align-items: center;
}
.navigation-item {
  display: flex;
  padding: 22px 12px;
  justify-content: center;
  align-items: center;
}
.navigation-link-like {
  position: relative;
  left: 1px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: url("../images/like.svg");
  background-repeat: no-repeat;
}
.sum {
  position: absolute;
  right: -7px;
  bottom: 13px;
  min-width: 20px;
  min-height: 20px;
  padding: 5px 4px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background: #7DB54F;
  text-decoration: none;
  border-radius: 50%;
}
.main-button {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.navigation-link-button {
  min-width: 160px;
  margin-left: 20px;
  padding: 8px 10px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color:#FFF;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  background: #756157;
}
.navigation-link-button:hover {
  background: #615048;
}
.navigation-link-button:focus {
  background: #615048;
}
.navigation-link-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.30);
}
.navigation-link-button:disabled {
  background: #E5E5E5;
  color: #FFF;
}
/*main*/
.main-container {
  flex-grow: 1;
}
.hero {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 51px 0px 82px 0px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/mountains.png");
  background-color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
}
.advantages p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.indent {
  width: 1200px;
  margin: -2px 0px 2px 0px;
  padding: 69px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.title {
  max-width: 620px;
  margin: 2px 2px -37px 2px;
  padding: 0px 0px 8px 0px;
  text-align: center;
  text-transform: uppercase;
}
.subject {
  max-width: 700px;
  margin-bottom: 19px;
  font-family: "PT sans";
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.photo-house,
.photo {
  object-fit: cover;
}
.advantage-title {
  max-width: 505px;
  margin: 0px;
  padding: 1px 0px 20px 1px;
  text-align: center;
  font-family: "PT sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.advantages-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages-item-block {
  width: 400px;
  min-height: 385px;
  margin: 0px;
  padding: 20px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #82B3D3;
  box-sizing: border-box;
}
.advantages-title-block {
  max-width: 175px;
  margin: 27px 0px 1px 0px;
  padding: 0px;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantages-descripsion-block {
  position: relative;
  top: -5px;
  margin-top: 64px;
  margin-right: -1px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}
.advantages-descripsion-block::after {
  position: absolute;
  right: 0px;
  left: 85px;
  top: -32px;
  bottom: 0px;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.30);
}
.advantages-item-block2 {
  width: 400px;
  min-height: 385px;
  padding: 20px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
}
li.advantages-item-block2:nth-of-type(3) {
  background: #fff;
}
.advantages-title {
  max-width: 175px;
  margin: 22px 0px 2px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
}
.advantages-descripsion {
  position: relative;
  margin-top: 59px;
  margin-bottom: 20px;
  text-align: center;
}
.advantage {
  width: 100%;
  margin: 0px;
  padding: 63px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #FFF;
}
.advantage-cause {
  max-width: 505px;
  margin: 0px;
  text-align: center;
  font-family: "PT Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.advantages-item-block3 {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.20);
  box-sizing: border-box;
}
.advantages-titles {
  max-width: 230px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "PT sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-descripsions {
  margin-top: -2px;
  margin-bottom: 0px;
  position: relative;
  font-family: "PT sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.advantages-descripsion::after {
  position: absolute;
  right: 0px;
  left: 85px;
  top: -32px;
  bottom: 0px;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
}
.advantages h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.advantages h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
}
.search {
  min-height: 405px;
  margin-bottom: -1px;
  padding: 96px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
}
.search button {
  color: #ffffff;
  border-radius: 4px;
  background: #756157;
  border: none;
}
.page-main-title {
  max-width: 600px;
  margin: 1px 0px 3px 0px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.advantages-descripsion-search {
  max-width: 600px;
  margin: 17px 0px 53px;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.button-link {
  max-width: 600px;
  margin: 0px;
  padding: 8px 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color:#FFF;
  border-radius: 4px;
  background: #756157;
  text-decoration: none;
}
.button-link:hover {
  background: #615048;
}
.button-link:focus {
  background: #615048;
}
.button-link:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.30);
}
.button-link:disabled {
  background: #E5E5E5;
  color: #FFF;
}
/*search*/
.subscribe {
  width: 1200px;
  margin: 0px;
  padding: 97px 258px 101px 258px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/subscribe.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.subscribe-title {
  margin-top: 2px;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFF;
}
.subscribe-form-name {
  margin: 0;
}
.subscribe-title-light {
  width: 475px;
  margin: -5px -1px 54px 0px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #FFF;
}
.field-email {
  min-width: 452px;
  min-height: 52px;
  margin: 1px 0px 2px 0px;
  padding: 12px 20px;
  display: flex;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  border: none;
  border-radius: 4px 0px 0px 4px;
  background: #F2F2F2;
}
.email {
  min-width: 680px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}
.subscribe-button {
  max-width: 232px;
  margin: 1px 0px 2px 0px;
  padding: 8px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "PT sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color:#FFF;
  border-radius: 0px 4px 4px 0px;
  background: #82B3D3;
  border: none;
}
.subscribe-button:hover {
  background: #68A2CA;
}
.subscribe-button:focus {
  background: #68A2CA;
}
.subscribe-button:active {
  opacity: 0.3;
}
.subscribe-button:disabled {
  background: #E5E5E5;
  color: #FFF;
}
/*footer*/
.footer-social {
  margin: 0px;
  padding: 49px 0px 30px 70px;
  max-width: 300px;                                 /*исправить переполнение*/
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-social-item {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-item-vk {
  margin: -8px 0px 0px -3px;
  padding: 0px 11px;
  display: flex;
  background-repeat: no-repeat;
  border-color: transparent;
}
.footer-social-item-telegram {
  margin: -2px -5px 4px -5px;
  padding: 4px 4px;
  display: flex;
  color: rgba(131, 179, 211, 1);
  background-repeat: no-repeat;
}
.footer-social-item-youtub {
  margin-top: -4px;
  padding: 3px 12px;
  display: flex;
  color: rgba(131, 179, 211, 1);
  background-repeat: no-repeat;
}
.footer-social-item-vk:hover path {
  fill:rgba(104, 162, 202, 1);
}
.footer-social-item-telegram:hover path {
  fill:rgba(104, 162, 202, 1);
}
.footer-social-item-youtub:hover path {
  fill:rgba(104, 162, 202, 1);
}
.htmlacademy-link {
  margin: 40px 70px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.htmlacademy-link:hover path {
  fill: rgba(117, 97, 87, 1);
}
.htmlacademy-link:focus path {
  fill: rgba(117, 97, 87, 1);
}
.htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}
.footer-contacts-address-phone {
  margin: 0px;
  padding: 10px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.footer-contacts-address {
  margin-top: 11px;
  margin-left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: PT Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}
.footer-contacts-address-phone:hover {
  color: #756157;
}
.footer-contacts-address-phone:focus {
  color: #756157;
  border: none;
}
.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}
.footer-page-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #FFF;
}
.button {
  min-width: 20px;
  min-height: 20px;
  display: block;
  text-transform: uppercase;
  flex-shrink: 0;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 5px;
  border: 3px solid transparent;
}
.button:focus path {
  fill:rgba(104, 162, 202, 1);
}
.button:active path {
  fill:rgba(104, 162, 202, 0.3);
}














.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.80);
}
.modal {
  position: relative;
  width: 717px;
  margin: auto;
  padding: 64px 70px;
  display: flex;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}
.modal-content {
  max-height: 448px;
}
.modal-close-button {
  position: absolute;
  right: 52px;
  top: 64px;
  width: 52px;
  height: 52px;
  padding: 0px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 100px;
}
.close {
  height: 20px;
  margin-left: 1px;
  background: url("../images/modal/cross.svg") no-repeat;
  background-position: center;
}
.modal-close-button:hover {
  background-color: #E6E6E6;
}
.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}
.modal-close-button:active {
  border: none;
}
.close:active {
  opacity: 0.3;
}
.modal-title {
  margin-top: 0px;
  margin-bottom: 64px;
  font-family: "PT sans";
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.errore {
  margin-left: 137px;
  margin-bottom: 20px;
  padding: 3px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "PT sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #FF5757;
}
.help {
  margin-left: 137px;
  margin-bottom: 3px;
  padding: 3px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "PT sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333;
}
.departure,
.arrival-day {
  padding: 13px 20px;
  min-width: 440px;
  color: #000;
  font-family: "PT sans";
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  border-radius: 4px;
  background: #F2F2F2;
  border: none;
}
.departure:hover,
.arrival-day:hover {
  background: #E6E6E6;
}
.departure:focus,
.arrival-day:focus {
  outline: 3px solid #83B3D3;
  background: #E6E6E6;
}
.departure,
.arrival-day::before {
  background-image: url("../images/modal/date.svg");
  background-repeat: no-repeat;
  background-position: 400px 15px;
}
.departure:hover,
.arrival-day:hover::before {
  background-image: url("../images/modal/date.svg");
  background-repeat: no-repeat;
  background-position: 400px 15px;
}
.departure:focus,
.arrival-day:focus::before {
  background-image: url("../images/modal/date.svg");
  background-repeat: no-repeat;
  background-position: 400px 15px;
}
.arrival-day,
.departure::before {
  background-image: url("../images/modal/date.svg");
  background-repeat: no-repeat;
  background-position: 400px 15px;
}
.arrival-day:hover,
.departure:hover::before {
  background-image: url("../images/modal/date.svg");
  background-repeat: no-repeat;
  background-position: 400px 15px;
}
.arrival-day:focus,
.departure:focus::before {
  background-image: url("../images/modal/date.svg");
  background-repeat: no-repeat;
  background-position: 400px 15px;
}
.appointment-form-date {
  min-width: 577px;
  margin-bottom: -16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-label {
  margin-top: -2px;
  font-family: "PT sans";
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #000;
}
.amount {
  margin-bottom: -18px;
  display: flex;
  align-items: center;
}
.number {
  min-width: 90px;
  margin-top: -1px;
  margin-right: 47px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.numbers {
  margin: 0px 82px 1px -3px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.tooltip {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: -11px;
  margin-left: 46px;
}
.tooltip-toggle {
  width: 26px;
  height: 26px;
  margin: 0px 46px 1px 10px;
  padding: 0px;
  display: block;
  border: none;
  background-color: #83b3d3;
  border-radius: 13px;
}
.toggle {
  width: 100%;
  height: 100%;
  padding: 7px;
  display: block;
}
.minus {
  padding: 20px 16px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  border: none;
}
.minus-button {
  width: 14px;
  height: 6px;
  margin: -6px -5px -5px -5px;
  padding: 9px 9px;
  background-image: url("../images/modal/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 3px solid transparent;
  opacity: 0.2;
}
.minus-button:hover {
  border-radius: 4px 0px 0px 4px;
  border: none;
  opacity: 1;
}
.minus-button:focus {
  opacity: 1;
  border-radius: 4px;
  outline: 3px solid #82B3D3;
}
.plus {
  padding: 13px 10px;
  background: #F2F2F2;
  border-radius: 0px 4px 4px 0px;
  border: none;
}
.plus-button {
  width: 20px;
  height: 21px;
  background: url("../images/modal/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.2;
}
.plus-button:hover {
  opacity: 1;
}
.plus-button:focus {
  opacity: 1;
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}
.plus-button:active {
  opacity: 0.2;
}
.max,
.min {
  max-width: 31px;
  padding: 13px 10px;
  font-family: "PT sans";
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 21px;
  background: #F2F2F2;
  border: none;
}
.min {
  margin: -1px 0px 0px 0px;
}
.appointment-date {
  display: flex;
  align-items: center;
}
.appointments-date {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.modal-button {
  width: 577px;
  margin-top: 48px;
  padding: 18px 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "PT sans";
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFF;
  border-radius: 10px;
  background: #83B3D3;
  border: none;
}
.modal-button:hover {
  background:#68A2CA;
}
.modal-button:focus{
  background:#68A2CA;
}
.modal-button:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}
.text {
  position: absolute;
  top: 41px;
  left: -105px;
  min-width: 256px;
  padding: 21px 18px 3px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "PT sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #fff;
  border-radius: 10px;
  background:#333;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
  box-sizing: border-box;
  z-index: 1;
  display: none;
}
.text::after {
  position: relative;
  left: 96px;
  bottom: 126px;
  content: "";
  width: 19px;
  height: 19px;
  background: #333;
  transform: rotate(45deg);
}
.toggle:hover + .text,
.toggle:focus + .text {
  display: block;
}
.toggle:hover + .text::after,
.toggle:focus + .text::after {
  display: block;
}



/* 2стр */
.header-catalog {
  margin: 0px;
  display: flex;
  padding: 35px 70px 69px 70px;
  flex-direction: column;
  align-items: flex-start;
  background:  url("../images/catalog/filter.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.inner-header-title {
  margin: 0px 0px 1px 0px;
  padding: 0px;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #FFF;
}
.sorting {
  width: 292px;
  padding: 12px 18px;
  margin-left: auto;
  margin-right: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-family: "PT sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background: url(../images/catalog/sorting.svg) no-repeat right 18px top 17px;
  appearance: none;
}
.sorting:hover {
  border: 2px solid #68A2CA;
}
.sorting:focus {
  border: 2px solid #68A2CA;
}
.sorting:disabled {
  border: 2px solid rgba(0, 0, 0, 0.30);
  color: rgba(0, 0, 0, 0.30);
}
.breadcrumbs {
  margin: 6px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.bread-crumbs {
  margin: 0px;
}
.breadcrumb-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #FFF;
}
.breadcrumb-link:hover {
  color: rgba(255, 255, 255, 0.60);
}
.breadcrumb-link:focus {
  color: #ffffff;
}
.breadcrumb-link:active {
  color: rgba(255, 255, 255, 0.30);
}
.filter {
  margin: 0px;
  padding: 0px;
  border: none;
}
.form-filter {
  margin-top: 33px;
  min-width: 1060px;
  display: flex;
}
.search-filter-title {
  padding: 0px 71px 32px 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
}
.search-filter-list {
  margin: -1px 0px 0px -1px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}
.earch-filter-item:hover {
  opacity: 0.6;
}
.earch-filter-item:focus {
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}
.earch-filter-item:active {
  opacity: 0.3;
}
.earch-filter-item {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-transform: capitalize;
}
.control {
  margin-left: 1px;
  display: flex;
  align-items: center;
}
.control-input {
  width: 20px;
  height: 20px;
  margin: 0px;
  appearance: none;
}
.control-input:checked + .alternative {
  background: url("../images/catalog/alternative.svg");
  background-repeat: no-repeat;
  background-position: 4px 5px;
  background-color: rgba(255, 255, 255, 1);
}
.control-input-list:checked + .tick {
  background: url("../images/catalog/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
}
.alternative {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-left: -20px;
  display: block;
  border-radius: 4px;
  background: #FFF;
}
.alternative:active {
  opacity: 0.1;
}
.alternative:focus {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}
.tick {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-left: -20px;
  display: block;
  border-radius: 10px;
  background: #FFF;
}
.control-input-list {
  width: 20px;
  height: 20px;
  margin: 0px;
  appearance: none;
}
.search-filter-group {
  margin-left: 122px;
  margin-right: 0px;
  padding: 0px;
  width: 143px;
  border: none;
}
.fix-price {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.do {
  position: absolute;
  right: 165px;
  margin: 0px;
  padding: 12px 0px;
  opacity: 0.3;
}
.field-do {
  width: 143px;
  margin-right: 2px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PT sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  background: #f2f2f2;
}
.field-do:hover {
  background: rgba(230, 230, 230, 1);
}
.field-do:focus-visible {
  border-radius: 4px 0px 0px 4px;
  outline: 3px solid #83B3D3;
  background: #E6E6E6;
}
.of {
  position: absolute;
  left: 248px;
  margin: 0px;
  padding: 12px 0px;
  opacity: 0.3;
}
.field-of {
  width: 143px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  background: #f2f2f2;
}
.field-of:hover {
  background: rgba(230, 230, 230, 1);
}
.field-of:focus {
  border-radius: 0px 4px 4px 0px;
  outline: 3px solid #83B3D3;
  background: #E6E6E6;
}
.button-price {
  width: 226px;
  margin: 43px 0px 0px 0px;
  height: 4px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
}
.button-min {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
}
.button-min:focus {
  border-radius: 5px;
  outline: 3px solid #83B3D3;
}
.button-min:active {
  border-radius: 5px;
  border: 2px solid #83B3D3;
}
.button-two {
  position: relative;
  left: 186px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
}
.button-two:focus {
  border-radius: 5px;
  outline: 3px solid #83B3D3;
}
.button-two:active {
  border-radius: 5px;
  outline: 2px solid #83B3D3;
}
.range {
  position: relative;
  left: 186px;
  width: 61px;
  height: 4px;
  background: #fff;
  opacity: 0.3;
}
.button-filter {
  margin-left: auto;
  margin-top: 56px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}
.button-dark {
  min-width: 191px;
  height: 36px;
  margin-bottom: 20px;
  padding: 2px 10px;
  font-family: "PT sans";
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFF;
  border-radius: 4px;
  background: #82B3D3;
}
.button-dark:hover {
  background: #68A2CA;
}
.button-dark:focus {
  background: #68A2CA;
}
.button-dark:active {
  background: #82B3D3;
  color:rgba(255, 255, 255, 0.30);
}
.button-dark:disabled {
  background: #e5e5e5;
  color: #fff;
}
.button-light {
  min-width: 191px;
  height: 36px;
  margin: 12px 0px 0px 0px;
  padding: 2px 10px;
  font-family: "PT sans";
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  background:  transparent;
}
.button-light:hover {
  opacity: 0.3;
}
.button-light:focus {
  border: 3px solid #83B3D3;
}
.button-light:active {
  color: rgba(255, 255, 255, 0.30);
  border: none;
}
.button-light:disabled {
  opacity: 0.1;
}
/* catalog*/
.catalog {
  margin: 0px;
  padding: 41px 70px 40px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.search-filter {
  margin-top: -9px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.inner-header {
  margin-top: 25px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.review {
  max-width: 200px;
  margin-left: 58px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.button-list-pictures {
  min-width: 16px;
  margin: -2px -2px 0px 2px;
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #000;
}
.button-list-pictures:focus {
  border: 2px solid #68A2CA;
}
.button-list-pictures:active {
  border: 2px solid #000;
}
.button-list-picture {
  min-width: 16px;
  margin: -2px -2px 0px 1px;
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}
.button-list-picture:hover {
  border: 2px solid #000;
}
.button-list-picture:focus {
  border: 2px solid #68A2CA;
}
.button-list-picture:active {
  border: 2px solid #000;
}
.button-list-list {
  min-width: 16px;
  margin: -2px 0px 0px 1px;
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}
.button-list-list:hover {
  border: 2px solid #000;
}
.button-list-list:focus {
  border: 2px solid #68A2CA;
}
.button-list-list:active {
  border: 2px solid #000;
}
.catalog-list {
  margin: 0px 0px 40px 0px;
  padding: 0px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
}
.catalog-card {
  width: 340px;
  margin-bottom: -2px;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}
.catalog-card-link {
  margin: 0px 0px 0px -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  text-decoration: none;
}
.catalog-card-title {
  width: 300px;
  margin: 3px 0px 1px 0px;
  padding: 0px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color:#000;
}
.option {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px;
}
.price-name {
  margin: 17px 0px 0px -1px;
  max-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
}
.price-from {
  margin-bottom: -1px;
  margin-right: -1px;
  max-width: 100px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.rating-results {
  margin: 0px 0px -2px -1px;
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
}
.rating-result {
  min-width: 140px;
  margin-left: auto;
  padding: 11px 20px 8px 23px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  background:#F2F2F2;
}
.catalog-card-button-details {
  padding: 8px 26px;
  margin-left: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color:#FFF;
  border-radius: 4px;
  background: #756157;
}
.catalog-card-button-details:hover {
  background: #615048;
}
.catalog-card-button-details:focus {
  background: #615048;
}
.catalog-card-button-details:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.30);
}
.catalog-card-button-favorites:disabled {
  background: #E5E5E5;
  color: #FFF;
}
.catalog-card-button-favorites {
  min-width: 140px;
  margin-left: auto;
  padding: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color:#FFF;
  border-radius: 4px;
  background: #82B3D3;
}
.catalog-card-button-favorites:hover {
  background:#68A2CA;
}
.catalog-card-button-favorites:focus{
  background:#68A2CA;
}
.catalog-card-button-favorites:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}
.catalog-card-button-favorites:disabled {
  background: #E5E5E5;
  color: #FFF;
}
.catalog-card-button-favorite {
  min-width: 140px;
  margin-left: auto;
  padding: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color:#FFF;
  border-radius: 4px;
  background: #7DB54F;
  text-decoration: none;
}
.catalog-card-button-favorite:hover {
  background: #6C9E42;
}
.catalog-card-button-favorite:focus{
  background: #6C9E42;
}
.catalog-card-button-favorite:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.30);
}
.catalog-card-button-favorites:disabled {
  background: #E5E5E5;
  color: #FFF;
}
.pol {
  width: 1060px;
  height: 1px;
  background: #E6E6E6;
}
.pagination {
  width: 100%;
  margin-top: 40px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
}
.pagination-link {
  display: flex;
  justify-content: center;
}
.pagination-current-one {
  min-width: 60px;
  height: 60px;
  margin: 1px 0px 0px 0px;
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase;
  text-decoration: none;
  color:#000;
  border-radius: 4px;
  background:#F2F2F2;
}
.pagination-current {
  min-width: 60px;
  height: 60px;
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  background: #82B3D3;
}
.pagination-current:focus {
  background: #82B3D3;
}
.pagination-current:active {
  color: #68A2CA;
}
.pagination-current:hover {
  background: #68A2CA;
}
.subscription-two {
  min-height: 400px;
  margin-bottom: 27px;
  margin-top: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe-title-dark {
  width: 475px;
  margin: 0px;
  margin-bottom: 55px;
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color:#000000;
}
.subscribe-title-link {
  margin-top: 14px;
  margin-bottom: 20px;
  max-width: 700px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.field {
  height: 52px;
  padding: 12px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  border-radius: 4px 0px 0px 4px;
  background: #F2F2F2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
