@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
  display: inline-flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

}
.main-container {
  flex-grow: 1;
}
.main-header {
  background: #FFF;
}
.site-navigation {
  margin: 0;
  padding: 0;
  width: 339px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-shrink: 0;
}
.navigation-link-like {
  width: 268px;
  margin-left: auto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-image: url("../images/like.svg");
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #7DB54F;
  }
.navigation-link {
  text-decoration: none;
  color: inherit;
  width: 114px;
  height: 32px;
  flex-shrink: 0;
  list-style: none;
}
.navigation-link-button button {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  background:#756157;
}
.hero {
  background-color: #FFF;
  display: flex;
  width: 1200px;
  padding: 69px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.main-nav {
  display: flex;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}
.fond {
  background: url("../images/mountains.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  flex-shrink: 0;
}
.title {
  text-align: center;
  font-size: 30px;
  width: 1200px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.subject {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.advantage {
  display: flex;
  width: 1200px;
  padding: 64px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #FFF;
}
.advantages h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.advantages h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
}
.about {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.advantages p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.advantages-title-block {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  width: 175px;

}
.advantages-title {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.advantages-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages-descripsion-block {
  color: #ffffff;
}
.advantages-item-block {
  background: #82B3D3;
  display: flex;
  width: 230px;
  height: 170px;
  padding: 103px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantages-item-block2 {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  width: 230px;
  height: 170px;
  padding: 103px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantages-item-block3 {
  background-color: rgba(131, 179, 211, 0.20);
  width: 230px;
  height: 170px;
  padding: 103px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.search {
  display: flex;
  padding: 96px 304px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFF;
  align-items: center;
}
.search button {
  color: #ffffff;
  border-radius: 4px;
  background: #756157;
}
.page-main-title {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.advantages-descripsion {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.subscribe-title {
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe-title-light {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.subscribe-button {
  color:#FFF;
  border-radius: 0 4 4 0;
  background: #82B3D3;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.footer-social-item-vk {
  background: url("../images/vk.svg");
  color: rgba(131, 179, 211, 1);
  background-repeat: no-repeat;
}
.footer-social-item-telegram {
  background: url("../images/telegram.svg");
  color: rgba(131, 179, 211, 1);
  background-repeat: no-repeat;
}
.footer-social-item-youtub {
  background: url("../images/youtub.svg");
  color: rgba(131, 179, 211, 1);
  background-repeat: no-repeat;
}
.present {
  background: url("../images/logo.svg");
  color: #333;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-contacts-address-phone {
  text-decoration: none;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
}
.footer-contacts-address {
  display: flex;
  width: 720px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.footer {
  display: flex;
  width: 1200px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: #FFF;
}
.footer-page-container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}








/* 2стр */
.main-catalog {
  background:  url("../images/catalog/filter.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: flex-start;
}
.inner-header-title {
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}
.breadcrumbs-link {
  background-image: url("../images/catalog/breadcrumbs.svg");
  background-repeat: no-repeat;
}
.bread-crumbs {
  background-image: url("../images/catalog/breadcrumbs.png");
  background-repeat: no-repeat;
}
.breadcrumb-link {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}
.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 1200px;
}
.search-filter-title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.earch-filter-item {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-transform: capitalize;
}
.field {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.button {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.button-price {
  border-radius: 4px 0px 0px 4px;
  background: #F2F2F2;
}
.button-dark {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #82B3D3;
}
.button-light {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background:  transparent;
}
.sorting {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  width: 292px;
  padding: 14px 20px;
  justify-content: space-between;
  align-items: center;
}
.button-list-pictures {
  width: 16px;
  height: 14px;
  display: flex;
  padding: 3px 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.button-list-picture {
  width: 16px;
  height: 14px;
  display: flex;
  padding: 3px 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.button-list-list {
  width: 16px;
  height: 14px;
  padding: 14px 12px;
  margin: 0;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}
.inner-header {
  font-size: 30px;
  font-style: normal;
  font-weight: 700px;
  line-height: 36px;
  text-transform: uppercase;
}
.button-list-pictures, .button-list-picture {
  text-decoration: none;
  color: #000000;
  padding: 14px 12px;
  margin: 0;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}
.catalog-card-link {
  text-decoration: none;
}
.catalog-card-title {
  color:#000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  width: 300px;
}
.catalog-card-button-details {
  color:#FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #756157;
  padding: 8px 50px;
  text-decoration: none;
  width: 140px;
}
.catalog-card-button-favorites {
  color:#FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #82B3D3;
  padding: 8px 50px;
  text-decoration: none;
}
.catalog-card-button-favorite {
  color:#FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #7DB54F;
  padding: 8px 50px;
  text-decoration: none;
}
.catalog-card {
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}
.catalog-list {
  display: flex;
  width: 340px;
  height: 438px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}
.rating-result {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  background:#F2F2F2;

}
.pagination-current-one {
  color:#000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background:#F2F2F2;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.pagination-current {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #82B3D3;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: flex-start;
}
.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 8px;
}
.subscribe {
  background-image: url("../images/subscribe.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 414px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-title-dark {
  color:#000000;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.subscribe-title-link {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.field {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  border-radius: 4px 0px 0px 4px;
  background:  #F2F2F2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
